{% include 'head/head_index.html' %}
<style type="text/css">
	#index_page{
		background: url('{{ url_for('static', filename='images/images.jpg') }}') no-repeat fixed;
		-webkit-background-size: 80% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
	}
</style>
</head>
<body id="index_page">

	{% include 'header/header_index.html' %}

	<div class="container" style="margin-top: 2%;margin-bottom: 2%">
		<div class="card">
			<div class="card-body">
				<h3>Mencari NIK {{ search }}</h3><hr>

				{% if count > 0 %}

				{% for row in result %}

				<div class="card">
					<div class="card-body">
						<h5>NIK : {{ row[1] }}</h5>
						<h5>Nama : {{ row[2] }}</h5>
						<h5>Tempat Lahir : {{ row[3] }}</h5>
						<h5>Tanggal Lahir : {{ row[4] }}</h5>
						<h5>Jenis Kelamin : {{ row[5] }}</h5><hr>

						<a href="/detail-ktp/{{ row[0] }}" class="btn btn-outline-secondary">Lihat Detail</a>
					</div>
				</div><br>

				{% endfor %}

				{% else %}

				<h4>KTP yang memiliki NIK {{ search }} tidak di temukan atau memang tidak ada.</h4>
				<a href="/" class="btn btn-outline-danger">Kembali</a>

				{% endif %}
			</div>
		</div>
	</div>

{% include 'footer/footer_index.html' %}
</body>
</html>