{% include 'head/head_admin.html' %}
</head>
<body>

	{% include 'header/header_admin.html' %}

	<div class="container-fluid" style="margin-top: 2%;margin-bottom: 2%">
		<div class="card">
			<div class="card-body">
				<h3>Data-Data KTP</h3><hr>
				{% with messages = get_flashed_messages(with_categories=true) %}
				  {% if messages %}
				    {% for category, message in messages %}
				      {% if category == "error" %}
				      	<div class="alert alert-danger">{{ message }}</div>
				      {% else %}
				      	<div class="alert alert-success">{{ message }}</div>
				      {% endif %}
				    {% endfor %}
				  {% endif %}
				{% endwith %}
				<div class="table-responsive">
					<table id="tabel" class="table table-bordered">
					  <thead>
					    <tr>
					      <th>NIK</th>
					      <th>Nama</th>
					      <th>Tempat Lahir</th>
					      <th>Tanggal Lahir</th>
					      <th>Jenis Kelamin</th>
					      <th>Opsi</th>
					    </tr>
					  </thead>
					  <tbody>

					  	{% for row in result %}

					  	<tr>
					      <td>{{ row[1] }}</td>
					      <td>{{ row[2] }}</td>
					      <td>{{ row[3] }}</td>
					      <td>{{ row[4] }}</td>
					      <td>{{ row[5] }}</td>
					      <td>
					      	<a href="/detail-ktp/{{ row[0] }}">View</a> |
					      	<a href="/edit/ktp/{{ row[0] }}">Edit</a> |
					      	<a href="/delete/ktp/{{ row[0] }}" onclick="return confirm('Yakin ingin hapus KTP ?')">Delete</a>
					      </td>
					    </tr>

						{% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% include 'footer/footer_admin.html' %}
<script>
	$(document).ready(function() {
	    $('#tabel').DataTable();
	});
</script>
</body>
</html>